body {
    background-color: #17315b;
    background-image: url('https://images.wallpaperscraft.com/image/muzzle_blue_vector_funny_7734_2048x1152.jpg');
    background-position: top 35% center;
    top: 20%;
}

#pageTitle {
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#theUsers {
    margin-top: 12%;
}

#theBox {
    border: 2px solid white;
    border-radius: 3%;
    width: 75%;
    margin-top: 30%;
    background-color: #112544;
}

label {
    color: white;
    padding-left: 15px;
}

#unameLabel {
    margin-top: 7px;
}

#unameInput {
    width: 85%;
    margin-left: 15px;
}

.radio {
    margin-left: 15px !important;
}

#submitButton {
    position: relative;
    left: 15px !important;
    margin-top: 17px;
}

#clearButton {
    position: relative;
    left: 15px;
    top: 8px;
}

.onTemplate {
    border: 2px solid white !important;
    background-color: green !important;
    color: white !important;
    border-radius: 5px !important;
    width: 100% !important;
    padding-left: 10px !important;
}

.offTemplate {
    border: 2px solid white;
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding-left: 10px;
}

.templates {
    margin-bottom: 5px;
}

.nameLink {
    color: #abf7fc;
    cursor: pointer;
}