
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>User Status CRUD</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="pageHeader">
                <h2 id="pageTitle">User Status CRUD Application</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="online"></div>
                <div class="offline"></div>
            </div>
            <div class="col-md-6">
                <div id="theBox">
                    <div class="form-group">
                        <label for="unameInput">Username:</label>
                        <input id="unameInput" class="form-control" type="text" />
                        <br />
                        <label>Status:</label>
                        <div class="radio">
                            <label><input type="radio" name="optradio" />Online</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" />Offline</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

</html>
